<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-12">
        <h1>Dashboard</h1>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-12">
        <h5>Sistemas de trabajos realizados</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-2 mb-2">
        <button type="button" [routerLink]="['/list-worksdone']" class="btn btn-primary">Lista de trabajos</button>
      </div>
      <div class="col-6 mt-2 mb-2">
        <button type="button" [routerLink]="['/add-worksdone']" class="btn btn-primary">Agregar trabajos</button>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-12">
        <h5>Sistema de tags</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-2 mb-2">
        <button type="button" [routerLink]="['/list-tags']" class="btn btn-primary">Lista de tags</button>
      </div>
      <div class="col-6 mt-2 mb-2">
        <button type="button" [routerLink]="['/add-tags']" class="btn btn-primary">Agregar tag</button>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-12">
        <h5>Sistema de Ofertas</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-2 mb-2">
        <button type="button" [routerLink]="['/list-offers']" routerLinkActive="router-link-active"  class="btn btn-primary">Lista de ofertas</button>
      </div>
      <div class="col-6 mt-2 mb-2">
        <button type="button" [routerLink]="['/add-offer']" routerLinkActive="router-link-active"  class="btn btn-primary">Agregar Oferta</button>
      </div>
    </div>

  </div>
</div>